@model List<Dictionary.EntityLayer.Concrete.Writer>
<div class="user-panel mt-3 pb-3 mb-3 d-flex">
    @foreach (var item in Model)
    {
        <div class="image">
            <img src="~/Template/AdminLTE-3.2.0/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
            <a href="#" class="d-block">@item.FirstName @item.LastName</a>
        </div>
    }
</div>
