@model List<Dictionary.EntityLayer.Concrete.Gallery>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<body class="hold-transition">
    <div class="wrapper">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card card">
                            <div class="card-header">
                                <h4 class="card-title"><b>Gallery List</b></h4>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    @foreach (var item in Model)
                                    {
                                        <div class="col-sm-2" style="margin-bottom:2rem">

                                            <a href="@item.Image" data-toggle="lightbox"
                                               data-title="@item.Title" data-gallery="gallery"
                                               style="height:150px; width:250px">
                                                <img src="@item.Image" class="img-fluid mb-2" alt="white sample"
                                                     style="height:150px; width:250px" />
                                            </a>

                                            <div class="text">
                                                <a href="/GalleryAdmin/UpdateGallery/@item.GalleryId" class="btn btn-sm  btn-outline-success" style="margin-inline-end:1.50rem">
                                                    Update
                                                </a>
                                                <a href="/GalleryAdmin/DeleteGallery/@item.GalleryId" class="btn btn-sm btn-outline-danger">Delete</a>
                                            </div>

                                        </div>
                                    }
                                </div>
                                <a href="/GalleryAdmin/CreateGallery/" class="btn btn-sm  btn-outline-primary col-md-12" style="margin-inline-end:1rem">
                                    Create New Gallery
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>