@{
    ViewBag.Title = "CreateAbout";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <div class="card-header">
        <h3 class="card-title">
            <b>Create About</b>
        </h3>
    </div>
    <div class="card-body">
        <form role="form" method="post" action="/AboutAdmin/CreateAbout/">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Detail</label>
                        <textarea type="text" rows="6" class="form-control" placeholder="detail" name="Detail"></textarea>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Description</label>
                        <textarea type="text" rows="6" class="form-control" placeholder="description" name="Description"></textarea>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Image Url</label>
                        <input type="text" class="form-control" placeholder="Image url" name="Image">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Picture</label>
                        <input type="text" class="form-control" placeholder="picture url" name="Picture">
                    </div>
                </div>
            </div>
            <button style="margin-top:0rem" type="submit" class="btn btn-outline-success col-md-12">Create New About</button>
        </form>
    </div>
</div>